/* Estilos base: Mobile first */
.landingContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.sign {
    display: flex;
    justify-content: center;
    gap: 1rem;
   
}

.companytextMissionContainer {
    text-align: center;
    padding: 0.5rem;
}

.companyMisionText {
    color: #000000;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.companySloganText {
    margin: 1rem 0;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: #2a2a2b;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1rem;
}

.sloganContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.SignInLandingContainer {
    display: none;
}

/* Media Queries para pantallas más grandes */
@media screen and (min-width: 600px) {
    .sign{
        width: 30%;
    }
    .desktopNavigation {
        display: none; 
         width: 0;
    }
    .headerContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .sign {
        justify-content: space-evenly;
        margin-bottom: 0;
        width: 30%;
    }

    .sloganContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto;
        gap: 1rem;
    }

    .companytextMissionContainer {
        text-align: left;
        max-width: 50%;
    }

    .companyMisionText {
        font-size: 2rem;
        color: black;
       
    }

    .companySloganText {
        font-size: 1.3rem;
        padding: 1.5rem;
        background-color: var(--secondary-color);
        text-align: center;
        color: #2a2a2b;
    }

    .SignInLandingContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .desktopNavigation {
        display: none; 
         width: 0;
    }
   
    .headerContainer {
        padding: 0 2rem;
    }

    img{
       
        width: 100%;
        object-fit: contain;
    }

    .companySloganText {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .sloganContainer {
        gap: 2rem;
    }
}

