.sideContainer{
    
    
}
.itemContainer{
    padding: 1rem;
}


.textDashboard{
    margin-bottom: 0;
}
.elementHover:hover{
    background-color: #007bff;
    border-radius: 5px;
}
/* estilos de iconos */
