.logoText {
  
    font-size: 1.5rem;
    font-weight: 800;
   
}

img{
    width: 250px;
    height: 250px;
    border-radius: 2rem;
}

.marginNone {
    margin-top: 0px;
}
.fontColor {
    color: #fff;
}

.blue {
    color: #213ad5;
}

@media screen and (min-width: 600px) {
    .logoText {
        font-size: 2rem;
        margin-top: 0px;

        color: #007bff;
    }
}
