.default {
    color: #ffff;
    padding: 0.5rem 0 2rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: var(--main-bg-color);
    font-size: 1.1rem;
    margin-top: 1rem;
}
.signUp {
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: var(--call-to-action);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.signInRegister {
    all: unset;
    color: var(--call-to-action);

    background: transparent;
}

.signContainerDefault {
    margin-left: 1rem;
}

.signInBlue {
    color: #ffffff;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: var(--call-to-action);
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 100%;
   
}
.default:hover {
    background-color: var(--call-to-action-hover);
    cursor: pointer;
    transition: all 0.1s ease;
    border-style: none;
}

.signInBlue:hover {
    background-color: var(--call-to-action-hover);
    cursor: pointer;
    border-style: none;
}

.passwordContainer {
    position: relative;
}
@media screen and (min-width: 600px) {
    .default {
        color: #ffff;
        padding: 0.5rem 0 2rem;
        border-radius: 0.5rem;
        border-style: none;
        background-color: var(--main-bg-color);
        font-size: 0.8rem;
        margin-top: 1rem;
    }
    .signUp {
        color: #fff;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        border-style: none;
        background-color: var(--call-to-action);
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    .signInBlue {
        color: #ffffff;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        border-style: none;
        background-color: var(--call-to-action);
        margin-top: 1rem;
        width: 100%;
        margin-bottom: 2rem;
      
 
    }
    .signInBlue:hover {
        background-color: #28a745;
    }
}
