

.container {
  height: 100vh; /* Ensure body takes full viewport height */
  width: 100%;  /* Ensure body takes full viewport width */
  background-image: url('./assets/barberBackground.jpg');
  background-size: cover; /* Make the image cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
}