.barbersList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.barberCard {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.barberCard.inactive {
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo */
}

.barberCard p {
  margin: 0.5rem 0;
}

.barberCard button {
  margin-top: 0.5rem;
}
